In [1]:
import pandas as pd
import numpy as np

In [145]:
cpt4_df = pd.read_csv('Lookup_CPT4.csv', index_col=[0])
cpt4_df.head()

,CPT4_Cd,CPT4_Desc,Active_Ind,Effective_Date,Expiration_Date,Lab_Xray_Ind
CPT4_ID,,,,,,
21250,G9841,No kras tst bfr beg ant moab,y,2017-01-01,9999-01-01,N
21251,G9733,"No back intake prom, no prox",y,2017-01-01,9999-01-01,N
21252,G9772,"Doc temp >35.5(95.9), anest",y,2017-01-01,9999-01-01,N
21253,G9724,Pt w/doc use anticoag mst yr,y,2017-01-01,9999-01-01,N
21254,G9694,Hosp srv used pt in msmt per,y,2017-01-01,9999-01-01,N

In [146]:
cpt4_df.head()

,CPT4_Cd,CPT4_Desc,Active_Ind,Effective_Date,Expiration_Date,Lab_Xray_Ind
CPT4_ID,,,,,,
21250,G9841,No kras tst bfr beg ant moab,y,2017-01-01,9999-01-01,N
21251,G9733,"No back intake prom, no prox",y,2017-01-01,9999-01-01,N
21252,G9772,"Doc temp >35.5(95.9), anest",y,2017-01-01,9999-01-01,N
21253,G9724,Pt w/doc use anticoag mst yr,y,2017-01-01,9999-01-01,N
21254,G9694,Hosp srv used pt in msmt per,y,2017-01-01,9999-01-01,N

In [147]:
cpt4_df = cpt4_df.reset_index()
cpt4_df = cpt4_df.set_index('CPT4_Cd')

In [148]:
cpt4_df.head()

,CPT4_ID,CPT4_Desc,Active_Ind,Effective_Date,Expiration_Date,Lab_Xray_Ind
CPT4_Cd,,,,,,
G9841,21250,No kras tst bfr beg ant moab,y,2017-01-01,9999-01-01,N
G9733,21251,"No back intake prom, no prox",y,2017-01-01,9999-01-01,N
G9772,21252,"Doc temp >35.5(95.9), anest",y,2017-01-01,9999-01-01,N
G9724,21253,Pt w/doc use anticoag mst yr,y,2017-01-01,9999-01-01,N
G9694,21254,Hosp srv used pt in msmt per,y,2017-01-01,9999-01-01,N

In [153]:
appendectomy_codes = ['44950', '44955', '44960', '44870', '44979', '44900', '44901']
cpt4_df.loc[appendectomy_codes, :]

,CPT4_ID,CPT4_Desc,Active_Ind,Effective_Date,Expiration_Date,Lab_Xray_Ind
CPT4_Cd,,,,,,
44950,4562.0,Appendectomy,Y,2004-01-01,9999-01-01,N
44955,15225.0,Appendectomy Add-On,Y,2004-01-01,9999-01-01,N
44960,8986.0,Appendectomy,Y,2004-01-01,9999-01-01,N
44870,NaN,NaN,NaN,NaN,NaN,NaN
44979,14646.0,Laparoscope Proc App,Y,2004-01-01,9999-01-01,N
44900,12634.0,Drain Appendix Abscess Open,Y,2004-01-01,9999-01-01,N
44901,7172.0,Drain App Abscess Percut,N,2004-01-01,2013-12-31,N