In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

Importing Relevant Data only from Set

In [9]:
claims_data_df = pd.read_csv('appendectomy_44960.csv', index_col=[0])
claims_data_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
171144960,1,11,NaN,90834,,,,,2016-02-03,1,...,0,N,N,0.00,0.00,69.00,N,UN,Units,2016
306644960,1,11,NaN,97014,,,,,2016-06-06,1,...,0,N,N,15.56,2.85,0.00,N,UN,Units,2016
306644960,2,11,NaN,97035,,,,,2016-06-06,1,...,0,N,N,12.67,2.67,0.00,N,UN,Units,2016
306644960,3,11,NaN,97110,,,,,2016-06-06,1,...,0,N,N,6.77,6.37,0.00,N,UN,Units,2016
306644960,4,11,NaN,97140,,,,,2016-06-06,1,...,0,N,N,0.00,5.97,0.00,N,UN,Units,2016
168044960,1,11,NaN,93271,,,,,2016-03-09,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,1,11,NaN,97110,GP,,,,2016-05-25,2,...,0,N,N,15.00,0.00,0.00,N,UN,Units,2016
167944960,2,11,NaN,97140,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,3,11,NaN,97014,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,4,11,NaN,97010,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
161044960,1,11,NaN,99212,,,,,2016-08-23,1,...,0,N,N,56.06,0.00,0.00,N,UN,Units,2016
160944960,1,99,NaN,99214,,,,,2016-08-20,1,...,0,N,N,35.00,0.00,0.00,N,UN,Units,2016
160844960,1,11,NaN,99214,,,,,2016-06-03,1,...,0,N,N,15.00,0.00,0.00,N,UN,Units,2016
160744960,1,12,NaN,A7038,NU,KX,,,2016-03-30,6,...,0,N,N,0.00,4.56,0.00,N,UN,Units,2016
160760625,1,21,NaN,44960,,,,,2016-03-16,1,...,0,N,N,0.00,139.49,720.00,N,UN,Units,2016
357244960,1,81,NaN,G0483,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,2,81,NaN,G0479,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,3,81,NaN,83789,59,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,4,81,NaN,82542,59,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,5,81,NaN,83992,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
306744960,1,11,NaN,99212,,,,,2016-09-27,1,...,0,N,N,0.00,7.81,0.00,N,UN,Units,2016
156544960,1,22,NaN,90471,,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
155944960,1,99,301.0,82565,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,26.39,N,UN,Units,2016
155944960,2,99,301.0,84450,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,18.85,N,UN,Units,2016
155944960,3,99,301.0,84460,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,18.85,N,UN,Units,2016
155944960,4,99,302.0,86140,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,56.56,N,UN,Units,2016
155944960,5,99,305.0,85025,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,54.69,N,UN,Units,2016
309944960,1,12,NaN,E0651,RR,,,,2016-03-20,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
155256678,2,11,NaN,44960,22,,,,2016-01-24,1,...,0,N,N,0.00,38.96,1156.43,N,UN,Units,2016
320844960,1,23,NaN,12041,,,,,2016-11-09,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171744950,2,11,NaN,11301,76,,,,2016-12-29,1,...,0,N,N,0.00,0.00,35.49,N,UN,Units,2016
171744950,3,11,NaN,11300,,,,,2016-12-29,1,...,0,N,N,0.00,0.00,25.88,N,UN,Units,2016
171744950,4,11,NaN,99202,25,,,,2016-12-29,1,...,0,N,N,0.00,0.00,54.56,N,UN,Units,2016
321344950,1,23,NaN,99283,,,,,2016-09-08,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,1,81,NaN,84443,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,2,81,NaN,86803,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,3,81,NaN,80081,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,4,81,NaN,87086,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171544950,1,99,403.0,77052,TC,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171544950,2,99,403.0,77057,TC,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449500,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449500,2,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449501,1,81,NaN,87086,,,,,2016-08-05,1,...,0,N,N,0.00,1.08,0.00,N,UN,Units,2016
171449502,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449502,2,81,NaN,80076,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,1,81,NaN,87086,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,2,81,NaN,87088,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,3,81,NaN,87077,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449504,1,81,NaN,85027,,,,,2016-08-05,1,...,0,N,N,0.00,0.87,0.00,N,UN,Units,2016
171449504,2,81,NaN,84403,,,,,2016-08-05,1,...,0,N,N,0.00,3.46,0.00,N,UN,Units,2016
171449505,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449506,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449507,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,4.70,0.00,N,UN,Units,2016
171449508,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449509,1,81,NaN,83036,,,,,2016-08-05,1,...,0,N,N,0.00,1.30,0.00,N,UN,Units,2016
171449509,2,81,NaN,82306,,,,,2016-08-05,1,...,0,N,N,0.00,3.97,0.00,N,UN,Units,2016
171444950,1,11,NaN,99213,,,,,2016-08-05,1,...,0,N,N,35.00,0.00,0.00,N,UN,Units,2016
171344950,1,11,NaN,99212,,,,,2016-05-16,1,...,0,N,N,0.00,0.00,36.05,N,UN,Units,2016
347918752,43,99,360.0,44950,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171244950,1,99,NaN,E0601,RR,,,,2016-03-25,1,...,0,N,N,0.00,0.00,43.96,N,UN,Units,2016

In [10]:
claims_data_df['CPT4_ID'].nunique()

586

In [8]:
list(claims_data_df1.columns.values)

['Claim_Line_No',
 'Place_of_Service_Cd',
 'Rev_Cd',
 'CPT4_ID',
 'CPT4_Mod1_Cd',
 'CPT4_Mod2_Cd',
 'CPT4_Mod3_Cd',
 'CPT4_Mod4_Cd',
 'Service_Start_Dt',
 'Units',
 'Charge_Amt',
 'Prepaid_Amt',
 'Plan_Paid_Amt',
 'NDC_Cd',
 'Capitation_Flag',
 'ER_Flag',
 'Copay_Amt',
 'Coinsurance_Amt',
 'Deductible_Amt',
 'Dental_Flag',
 'Unit_Of_Measure_Cd',
 'Unit_Of_Measure_Desc',
 'Service_Start_Year']

Cleaning

In [ ]:
edited_df = medical_line_df.drop(['Dental_Flag', 'Service_Start_Year', 'Unit_Of_Measure_Desc', 'Unit_Of_Measure_Cd'], axis=1)
medical_line_edited

Engineering and Featurization 
Transform all of the non-numeric data into numeric data;
*get dummies
*masking
*boolean
*?

First Shitty Model
Initial Exploration of Features

Tweakage of Model

Random Forest- Feature Importance/Decision Tree Evaluation

Quantile Regression- see Matt

Boosting-