In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

Importing Relevant Data only from set. The CPT4, or prodedure code, for an appendectomy is 44960 or 44950. To narrow down the 6 GB of data to one particular condition, use grep in terminal. First use:
#head -1 Claim_Medical_Line.csv > appendectomy_44960.csv

to preserve the column labels
then use:

#grep 44960 Claim_Medical_Line.csv >> appendectomy_44960.csv 

to add the relevant claims data with that CPT4. 
Finally, to merge in the additional appendenctomy data that uses the other CPT4 code:

#grep 44950 Claim_Medical_line.csv >> appendectomy_44960.csv

In [9]:
claims_data_df = pd.read_csv('appendectomy_44960.csv', index_col=[0])
claims_data_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
171144960,1,11,NaN,90834,,,,,2016-02-03,1,...,0,N,N,0.00,0.00,69.00,N,UN,Units,2016
306644960,1,11,NaN,97014,,,,,2016-06-06,1,...,0,N,N,15.56,2.85,0.00,N,UN,Units,2016
306644960,2,11,NaN,97035,,,,,2016-06-06,1,...,0,N,N,12.67,2.67,0.00,N,UN,Units,2016
306644960,3,11,NaN,97110,,,,,2016-06-06,1,...,0,N,N,6.77,6.37,0.00,N,UN,Units,2016
306644960,4,11,NaN,97140,,,,,2016-06-06,1,...,0,N,N,0.00,5.97,0.00,N,UN,Units,2016
168044960,1,11,NaN,93271,,,,,2016-03-09,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,1,11,NaN,97110,GP,,,,2016-05-25,2,...,0,N,N,15.00,0.00,0.00,N,UN,Units,2016
167944960,2,11,NaN,97140,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,3,11,NaN,97014,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
167944960,4,11,NaN,97010,GP,,,,2016-05-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
161044960,1,11,NaN,99212,,,,,2016-08-23,1,...,0,N,N,56.06,0.00,0.00,N,UN,Units,2016
160944960,1,99,NaN,99214,,,,,2016-08-20,1,...,0,N,N,35.00,0.00,0.00,N,UN,Units,2016
160844960,1,11,NaN,99214,,,,,2016-06-03,1,...,0,N,N,15.00,0.00,0.00,N,UN,Units,2016
160744960,1,12,NaN,A7038,NU,KX,,,2016-03-30,6,...,0,N,N,0.00,4.56,0.00,N,UN,Units,2016
160760625,1,21,NaN,44960,,,,,2016-03-16,1,...,0,N,N,0.00,139.49,720.00,N,UN,Units,2016
357244960,1,81,NaN,G0483,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,2,81,NaN,G0479,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,3,81,NaN,83789,59,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,4,81,NaN,82542,59,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
357244960,5,81,NaN,83992,,,,,2016-06-14,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
306744960,1,11,NaN,99212,,,,,2016-09-27,1,...,0,N,N,0.00,7.81,0.00,N,UN,Units,2016
156544960,1,22,NaN,90471,,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
155944960,1,99,301.0,82565,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,26.39,N,UN,Units,2016
155944960,2,99,301.0,84450,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,18.85,N,UN,Units,2016
155944960,3,99,301.0,84460,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,18.85,N,UN,Units,2016
155944960,4,99,302.0,86140,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,56.56,N,UN,Units,2016
155944960,5,99,305.0,85025,,,,,2016-10-11,1,...,0,N,N,0.00,0.00,54.69,N,UN,Units,2016
309944960,1,12,NaN,E0651,RR,,,,2016-03-20,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
155256678,2,11,NaN,44960,22,,,,2016-01-24,1,...,0,N,N,0.00,38.96,1156.43,N,UN,Units,2016
320844960,1,23,NaN,12041,,,,,2016-11-09,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171744950,2,11,NaN,11301,76,,,,2016-12-29,1,...,0,N,N,0.00,0.00,35.49,N,UN,Units,2016
171744950,3,11,NaN,11300,,,,,2016-12-29,1,...,0,N,N,0.00,0.00,25.88,N,UN,Units,2016
171744950,4,11,NaN,99202,25,,,,2016-12-29,1,...,0,N,N,0.00,0.00,54.56,N,UN,Units,2016
321344950,1,23,NaN,99283,,,,,2016-09-08,1,...,0,Y,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,1,81,NaN,84443,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,2,81,NaN,86803,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,3,81,NaN,80081,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171644950,4,81,NaN,87086,,,,,2016-12-07,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171544950,1,99,403.0,77052,TC,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171544950,2,99,403.0,77057,TC,,,,2016-09-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449500,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449500,2,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449501,1,81,NaN,87086,,,,,2016-08-05,1,...,0,N,N,0.00,1.08,0.00,N,UN,Units,2016
171449502,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449502,2,81,NaN,80076,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,1,81,NaN,87086,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,2,81,NaN,87088,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449503,3,81,NaN,87077,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449504,1,81,NaN,85027,,,,,2016-08-05,1,...,0,N,N,0.00,0.87,0.00,N,UN,Units,2016
171449504,2,81,NaN,84403,,,,,2016-08-05,1,...,0,N,N,0.00,3.46,0.00,N,UN,Units,2016
171449505,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449506,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449507,1,81,NaN,80050,,,,,2016-08-05,1,...,0,N,N,0.00,4.70,0.00,N,UN,Units,2016
171449508,1,81,NaN,80061,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171449509,1,81,NaN,83036,,,,,2016-08-05,1,...,0,N,N,0.00,1.30,0.00,N,UN,Units,2016
171449509,2,81,NaN,82306,,,,,2016-08-05,1,...,0,N,N,0.00,3.97,0.00,N,UN,Units,2016
171444950,1,11,NaN,99213,,,,,2016-08-05,1,...,0,N,N,35.00,0.00,0.00,N,UN,Units,2016
171344950,1,11,NaN,99212,,,,,2016-05-16,1,...,0,N,N,0.00,0.00,36.05,N,UN,Units,2016
347918752,43,99,360.0,44950,,,,,2016-08-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171244950,1,99,NaN,E0601,RR,,,,2016-03-25,1,...,0,N,N,0.00,0.00,43.96,N,UN,Units,2016

Looks like there's quite a few claims that don't match the expected CPT4 codes- 44960 and 44950. These are claims that have the five digit CPT4 code in their claims number and they should not be included in the data set.

In [10]:
#Confirm that there are more than the expected number of CPT4 codes
claims_data_df['CPT4_ID'].nunique()

586

In [25]:
#Narrow down the DataFrame to the data points we care about
claims_data_df
claims_data_df1 = claims_data_df[claims_data_df['CPT4_ID'] == ('44950')]
claims_data_df1

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
167990802,2,22,NaN,44950,,,,,2016-11-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
167993273,17,99,360.0,44950,,,,,2016-11-19,1,...,0,N,N,0.0,1743.96,0.00,N,UN,Units,2016
306700165,2,21,NaN,44950,22,,,,2016-07-04,1,...,0,N,N,0.0,130.74,0.00,N,UN,Units,2016
161137448,1,22,NaN,44950,,,,,2016-12-18,1,...,0,N,N,0.0,539.56,0.00,N,UN,Units,2016
156535710,10,99,360.0,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,250.04,N,UN,Units,2016
156534568,1,22,NaN,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,864.85,N,UN,Units,2016
148366057,1,21,NaN,44950,,,,,2016-04-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
145250203,1,21,NaN,44950,,,,,2016-05-14,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340503131,1,21,NaN,44950,22,,,,2016-11-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
142933915,1,99,NaN,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
310103039,17,99,360.0,44950,,,,,2016-07-22,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340452185,1,22,NaN,44950,,,,,2016-05-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
110292647,6,99,360.0,44950,,,,,2016-01-22,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
321087902,20,99,360.0,44950,,,,,2016-08-06,1,...,0,Y,N,0.0,0.00,144.48,N,UN,Units,2016
355346895,1,21,NaN,44950,,,,,2016-11-14,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
355350220,1,21,NaN,44950,,,,,2016-12-20,1,...,0,N,N,0.0,0.00,801.92,N,UN,Units,2016
321087903,20,99,360.0,44950,,,,,2016-08-06,1,...,0,Y,N,0.0,0.00,144.48,N,UN,Units,2016
319501111,1,21,NaN,44950,,,,,2016-02-07,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
282175751,7,99,360.0,44950,,,,,2016-09-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
282106163,1,22,NaN,44950,22,,,,2016-09-21,1,...,0,N,N,0.0,65.25,0.00,N,UN,Units,2016
282022806,1,22,NaN,44950,22,80,,,2016-09-21,1,...,0,N,N,0.0,12.32,0.00,N,UN,Units,2016
280884972,1,22,NaN,44950,,,,,2016-06-29,1,...,0,N,N,0.0,213.33,0.00,N,UN,Units,2016
280884835,7,99,360.0,44950,,,,,2016-06-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280807551,1,21,NaN,44950,80,,,,2016-05-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280807566,1,21,NaN,44950,,,,,2016-05-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280440678,1,22,NaN,44950,,,,,2016-05-26,1,...,0,N,N,0.0,1066.98,0.00,N,UN,Units,2016
280437071,21,99,360.0,44950,,,,,2016-05-26,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
279764653,1,21,NaN,44950,22,,,,2016-03-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
279715816,5,99,360.0,44950,,,,,2016-04-14,1,...,0,N,N,0.0,256.79,0.00,N,UN,Units,2016
279700302,1,21,NaN,44950,,,,,2016-04-14,1,...,0,N,N,0.0,223.99,0.00,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249626556,22,99,360.0,44950,,,,,2016-11-29,1,...,0,N,N,0.0,73.42,0.00,N,UN,Units,2016
249666742,1,23,NaN,44950,,,,,2016-11-29,1,...,0,N,N,0.0,267.52,0.00,N,UN,Units,2016
249159226,1,22,NaN,44950,,,,,2016-09-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
249072541,1,22,NaN,44950,,,,,2016-08-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
249057549,43,99,360.0,44950,,,,,2016-08-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
248469868,1,21,NaN,44950,78,GC,,,2016-04-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
355357355,12,99,360.0,44950,,,,,2016-12-20,1,...,0,N,N,0.0,407.40,0.00,N,UN,Units,2016
320628137,11,99,360.0,44950,,,,,2016-09-28,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
341133058,32,99,360.0,44950,,,,,2016-07-24,1,...,0,N,N,0.0,1180.45,1636.00,N,UN,Units,2016
238416132,1,21,NaN,44950,,,,,2016-06-03,1,...,0,N,N,0.0,199.76,0.00,N,UN,Units,2016
238371301,1,22,NaN,44950,,,,,2016-05-22,1,...,0,N,N,0.0,93.04,0.00,N,UN,Units,2016
238381060,35,99,360.0,44950,,,,,2016-05-22,1,...,338055318,N,N,0.0,90.95,0.00,N,UN,Units,2016
238155743,1,21,NaN,44950,,,,,2016-03-22,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
237967139,1,21,NaN,44950,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,767.65,N,UN,Units,2016
321056743,1,22,NaN,44950,,,,,2016-08-06,1,...,0,Y,N,0.0,0.00,864.85,N,UN,Units,2016
320576867,1,22,NaN,44950,,,,,2016-09-28,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192994555,10,99,360.0,44950,,,,,2016-08-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192288685,1,22,NaN,44950,,,,,2016-02-14,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192260566,1,21,NaN,44950,,,,,2016-04-01,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
188712055,1,21,NaN,44950,,,,,2016-05-15,1,...,0,N,N,0.0,178.28,0.00,N,UN,Units,2016
283069941,2,21,NaN,44950,,,,,2016-12-06,1,...,0,N,N,0.0,192.00,0.00,N,UN,Units,2016
320854331,10,99,360.0,44950,,,,,2016-09-28,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
186286705,2,21,NaN,44950,,,,,2016-08-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
186170112,1,21,NaN,44950,,,,,2016-05-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
186023883,1,22,NaN,44950,,,,,2016-03-18,1,...,0,N,N,3.0,0.00,3.00,N,UN,Units,2016
319710886,2,22,NaN,44950,,,,,2016-04-27,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
320247632,19,99,360.0,44950,,,,,2016-04-27,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
350368318,1,22,NaN,44950,,,,,2016-08-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306663547,2,21,NaN,44950,22,,,,2016-07-03,1,...,0,N,N,0.0,130.74,0.00,N,UN,Units,2016
347918752,43,99,360.0,44950,,,,,2016-08-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

In [26]:
claims_data_df2 = claims_data_df[claims_data_df['CPT4_ID'] == ('44960')]
claims_data_df2

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
160760625,1,21,NaN,44960,,,,,2016-03-16,1,...,0,N,N,0.0,139.49,720.00,N,UN,Units,2016
155256678,2,11,NaN,44960,22,,,,2016-01-24,1,...,0,N,N,0.0,38.96,1156.43,N,UN,Units,2016
148338682,1,22,NaN,44960,80,,,,2016-04-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
148338681,1,22,NaN,44960,22,,,,2016-04-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
141417773,1,21,NaN,44960,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,1116.64,N,UN,Units,2016
140790969,1,22,NaN,44960,,,,,2016-01-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
140308027,2,21,NaN,44960,,,,,2016-02-01,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
331528134,1,21,NaN,44960,,,,,2016-02-21,1,...,0,N,N,0.0,162.08,0.00,N,UN,Units,2016
331528134,2,21,NaN,44960,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
281981112,1,22,NaN,44960,,,,,2016-09-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
281652073,1,22,NaN,44960,,,,,2016-07-01,1,...,0,N,N,0.0,350.29,0.00,N,UN,Units,2016
281582025,1,22,NaN,44960,,,,,2016-08-26,1,...,0,N,N,0.0,0.00,1556.82,N,UN,Units,2016
281443297,1,22,NaN,44960,22,,,,2016-04-17,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
263024998,1,21,NaN,44960,80,,,,2016-05-05,1,...,0,N,N,0.0,38.25,0.00,N,UN,Units,2016
263025003,1,21,NaN,44960,,,,,2016-05-05,1,...,0,N,N,0.0,191.29,0.00,N,UN,Units,2016
262807700,2,22,NaN,44960,,,,,2016-02-12,1,...,0,N,N,0.0,166.91,261.11,N,UN,Units,2016
238482799,1,21,NaN,44960,,,,,2016-05-30,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
238078392,1,22,NaN,44960,22,,,,2016-01-15,1,...,0,N,N,0.0,35.00,0.00,N,UN,Units,2016
237943255,1,22,NaN,44960,,,,,2016-01-27,1,...,0,N,N,0.0,153.26,500.00,N,UN,Units,2016
193134806,1,22,NaN,44960,,,,,2016-12-09,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192642030,2,22,NaN,44960,,,,,2016-08-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192256571,1,21,NaN,44960,,,,,2016-03-25,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192301124,1,21,NaN,44960,,,,,2016-03-25,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
188732413,1,21,NaN,44960,CC,,,,2016-05-15,1,...,0,N,N,0.0,242.96,0.00,N,UN,Units,2016
283035999,1,22,NaN,44960,,,,,2016-11-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
186122566,1,21,NaN,44960,,,,,2016-05-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
283264206,1,22,NaN,44960,,,,,2016-12-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
320192279,2,21,NaN,44960,,,,,2016-06-04,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
283351195,1,21,NaN,44960,22,,,,2016-12-26,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
283824914,1,22,NaN,44960,AS,,,,2016-12-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
178304252,1,21,NaN,44960,22,,,,2016-06-01,1,...,0,N,N,0.0,0.00,1416.48,N,UN,Units,2016

In [27]:
#merge the two relevant DataFrames for 44950 and 44960
merged_dataframes = [claims_data_df1, claims_data_df2]
appendectomy_df= pd.concat(merged_dataframes)
appendectomy_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
167990802,2,22,NaN,44950,,,,,2016-11-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
167993273,17,99,360.0,44950,,,,,2016-11-19,1,...,0,N,N,0.0,1743.96,0.00,N,UN,Units,2016
306700165,2,21,NaN,44950,22,,,,2016-07-04,1,...,0,N,N,0.0,130.74,0.00,N,UN,Units,2016
161137448,1,22,NaN,44950,,,,,2016-12-18,1,...,0,N,N,0.0,539.56,0.00,N,UN,Units,2016
156535710,10,99,360.0,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,250.04,N,UN,Units,2016
156534568,1,22,NaN,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,864.85,N,UN,Units,2016
148366057,1,21,NaN,44950,,,,,2016-04-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
145250203,1,21,NaN,44950,,,,,2016-05-14,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340503131,1,21,NaN,44950,22,,,,2016-11-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
142933915,1,99,NaN,44950,,,,,2016-08-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
310103039,17,99,360.0,44950,,,,,2016-07-22,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340452185,1,22,NaN,44950,,,,,2016-05-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
110292647,6,99,360.0,44950,,,,,2016-01-22,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
321087902,20,99,360.0,44950,,,,,2016-08-06,1,...,0,Y,N,0.0,0.00,144.48,N,UN,Units,2016
355346895,1,21,NaN,44950,,,,,2016-11-14,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
355350220,1,21,NaN,44950,,,,,2016-12-20,1,...,0,N,N,0.0,0.00,801.92,N,UN,Units,2016
321087903,20,99,360.0,44950,,,,,2016-08-06,1,...,0,Y,N,0.0,0.00,144.48,N,UN,Units,2016
319501111,1,21,NaN,44950,,,,,2016-02-07,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
282175751,7,99,360.0,44950,,,,,2016-09-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
282106163,1,22,NaN,44950,22,,,,2016-09-21,1,...,0,N,N,0.0,65.25,0.00,N,UN,Units,2016
282022806,1,22,NaN,44950,22,80,,,2016-09-21,1,...,0,N,N,0.0,12.32,0.00,N,UN,Units,2016
280884972,1,22,NaN,44950,,,,,2016-06-29,1,...,0,N,N,0.0,213.33,0.00,N,UN,Units,2016
280884835,7,99,360.0,44950,,,,,2016-06-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280807551,1,21,NaN,44950,80,,,,2016-05-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280807566,1,21,NaN,44950,,,,,2016-05-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
280440678,1,22,NaN,44950,,,,,2016-05-26,1,...,0,N,N,0.0,1066.98,0.00,N,UN,Units,2016
280437071,21,99,360.0,44950,,,,,2016-05-26,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
279764653,1,21,NaN,44950,22,,,,2016-03-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
279715816,5,99,360.0,44950,,,,,2016-04-14,1,...,0,N,N,0.0,256.79,0.00,N,UN,Units,2016
279700302,1,21,NaN,44950,,,,,2016-04-14,1,...,0,N,N,0.0,223.99,0.00,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155256678,2,11,NaN,44960,22,,,,2016-01-24,1,...,0,N,N,0.0,38.96,1156.43,N,UN,Units,2016
148338682,1,22,NaN,44960,80,,,,2016-04-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
148338681,1,22,NaN,44960,22,,,,2016-04-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
141417773,1,21,NaN,44960,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,1116.64,N,UN,Units,2016
140790969,1,22,NaN,44960,,,,,2016-01-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
140308027,2,21,NaN,44960,,,,,2016-02-01,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
331528134,1,21,NaN,44960,,,,,2016-02-21,1,...,0,N,N,0.0,162.08,0.00,N,UN,Units,2016
331528134,2,21,NaN,44960,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
281981112,1,22,NaN,44960,,,,,2016-09-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
281652073,1,22,NaN,44960,,,,,2016-07-01,1,...,0,N,N,0.0,350.29,0.00,N,UN,Units,2016
281582025,1,22,NaN,44960,,,,,2016-08-26,1,...,0,N,N,0.0,0.00,1556.82,N,UN,Units,2016
281443297,1,22,NaN,44960,22,,,,2016-04-17,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
263024998,1,21,NaN,44960,80,,,,2016-05-05,1,...,0,N,N,0.0,38.25,0.00,N,UN,Units,2016
263025003,1,21,NaN,44960,,,,,2016-05-05,1,...,0,N,N,0.0,191.29,0.00,N,UN,Units,2016
262807700,2,22,NaN,44960,,,,,2016-02-12,1,...,0,N,N,0.0,166.91,261.11,N,UN,Units,2016
238482799,1,21,NaN,44960,,,,,2016-05-30,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
238078392,1,22,NaN,44960,22,,,,2016-01-15,1,...,0,N,N,0.0,35.00,0.00,N,UN,Units,2016
237943255,1,22,NaN,44960,,,,,2016-01-27,1,...,0,N,N,0.0,153.26,500.00,N,UN,Units,2016
193134806,1,22,NaN,44960,,,,,2016-12-09,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192642030,2,22,NaN,44960,,,,,2016-08-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192256571,1,21,NaN,44960,,,,,2016-03-25,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
192301124,1,21,NaN,44960,,,,,2016-03-25,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
188732413,1,21,NaN,44960,CC,,,,2016-05-15,1,...,0,N,N,0.0,242.96,0.00,N,UN,Units,2016
283035999,1,22,NaN,44960,,,,,2016-11-23,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
186122566,1,21,NaN,44960,,,,,2016-05-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
283264206,1,22,NaN,44960,,,,,2016-12-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
320192279,2,21,NaN,44960,,,,,2016-06-04,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
283351195,1,21,NaN,44960,22,,,,2016-12-26,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
283824914,1,22,NaN,44960,AS,,,,2016-12-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
178304252,1,21,NaN,44960,22,,,,2016-06-01,1,...,0,N,N,0.0,0.00,1416.48,N,UN,Units,2016

Looks like this is a really small dataset. Let's look for a different procedure that might have more data
#MOAR DATA

In [28]:
caesarian_df = pd.read_csv('caesarian_data.csv', index_col=[0])
caesarian_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
340993570,1,21,NaN,59510,,,,,2016-07-29,1,...,0,N,N,0.0,715.54,715.54,N,UN,Units,2016
350588632,1,21,NaN,59510,,,,,2016-06-27,1,...,0,N,N,0.0,641.99,0.00,N,UN,Units,2016
357047267,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
340423363,1,21,NaN,59510,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159994,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,295.52,0.00,N,UN,Units,2016
171159994,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159510,1,22,NaN,G0202,26,,,,2016-02-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159510,2,22,NaN,77052,26,,,,2016-02-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171175684,1,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,277.24,0.00,N,UN,Units,2016
171175684,2,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171157745,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171156293,1,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,436.80,0.00,N,UN,Units,2016
171156293,2,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184685,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,449.96,N,UN,Units,2016
171184685,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184622,1,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,352.48,0.00,N,UN,Units,2016
171184622,2,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171173970,1,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,147.76,0.00,N,UN,Units,2016
171173970,2,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171108933,1,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,249.52,0.00,N,UN,Units,2016
171108933,2,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340423574,1,21,NaN,59510,,,,,2016-02-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171056401,1,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171056401,2,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171102679,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171102679,2,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306678225,1,21,NaN,59510,,,,,2016-07-11,1,...,0,N,N,0.0,258.57,0.00,N,UN,Units,2016
171103095,1,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171103095,2,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357119550,1,21,NaN,59510,UC,,,,2016-07-01,1,...,0,Y,N,0.0,0.00,1502.27,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,NaN,59510,,,,,2016-03-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171213348,1,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,201.02,N,UN,Units,2016
171213348,2,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171269130,1,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,443.28,0.00,N,UN,Units,2016
171269130,2,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340422949,1,21,NaN,59510,,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202717,1,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,375.66,0.00,N,UN,Units,2016
171202717,2,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,1,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,2,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357042557,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,144.45,N,UN,Units,2016
171239156,1,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,149.52,500.00,N,UN,Units,2016
171239156,2,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,1,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,2,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171268246,1,21,NaN,59510,,,,,2016-03-06,1,...,0,N,N,0.0,0.00,2415.00,N,UN,Units,2016
171194895,1,21,NaN,59510,,,,,2016-02-09,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189417,1,21,NaN,59510,,,,,2016-02-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189367,1,21,NaN,59510,,,,,2016-02-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171188123,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,138.88,0.00,N,UN,Units,2016
171188123,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171125385,1,21,NaN,59510,,,,,2016-01-20,1,...,0,N,N,0.0,0.00,1547.39,N,UN,Units,2016
171125229,1,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,122.59,0.00,N,UN,Units,2016
171125229,2,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171171556,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,3,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,4,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169031,2,21,NaN,59510,,,,,2016-02-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

Cleaning

In [29]:
caesarian_df['CPT4_ID'].nunique()

412

In [31]:
caesarian_df2 = caesarian_df[caesarian_df['CPT4_ID'] == ('59510')]
caesarian_df2

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
340993570,1,21,NaN,59510,,,,,2016-07-29,1,...,0,N,N,0.0,715.54,715.54,N,UN,Units,2016
350588632,1,21,NaN,59510,,,,,2016-06-27,1,...,0,N,N,0.0,641.99,0.00,N,UN,Units,2016
357047267,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
340423363,1,21,NaN,59510,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159994,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,295.52,0.00,N,UN,Units,2016
171159994,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171175684,1,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,277.24,0.00,N,UN,Units,2016
171175684,2,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171157745,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171156293,1,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,436.80,0.00,N,UN,Units,2016
171156293,2,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184685,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,449.96,N,UN,Units,2016
171184685,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184622,1,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,352.48,0.00,N,UN,Units,2016
171184622,2,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171173970,1,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,147.76,0.00,N,UN,Units,2016
171173970,2,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171108933,1,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,249.52,0.00,N,UN,Units,2016
171108933,2,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340423574,1,21,NaN,59510,,,,,2016-02-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171056401,1,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171056401,2,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171102679,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171102679,2,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306678225,1,21,NaN,59510,,,,,2016-07-11,1,...,0,N,N,0.0,258.57,0.00,N,UN,Units,2016
171103095,1,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171103095,2,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357119550,1,21,NaN,59510,UC,,,,2016-07-01,1,...,0,Y,N,0.0,0.00,1502.27,N,UN,Units,2016
357119551,1,21,NaN,59510,UC,,,,2016-11-09,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
171082475,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,497.99,864.16,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,NaN,59510,,,,,2016-03-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171213348,1,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,201.02,N,UN,Units,2016
171213348,2,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171269130,1,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,443.28,0.00,N,UN,Units,2016
171269130,2,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340422949,1,21,NaN,59510,,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202717,1,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,375.66,0.00,N,UN,Units,2016
171202717,2,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,1,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,2,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357042557,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,144.45,N,UN,Units,2016
171239156,1,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,149.52,500.00,N,UN,Units,2016
171239156,2,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,1,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,2,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171268246,1,21,NaN,59510,,,,,2016-03-06,1,...,0,N,N,0.0,0.00,2415.00,N,UN,Units,2016
171194895,1,21,NaN,59510,,,,,2016-02-09,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189417,1,21,NaN,59510,,,,,2016-02-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189367,1,21,NaN,59510,,,,,2016-02-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171188123,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,138.88,0.00,N,UN,Units,2016
171188123,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171125385,1,21,NaN,59510,,,,,2016-01-20,1,...,0,N,N,0.0,0.00,1547.39,N,UN,Units,2016
171125229,1,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,122.59,0.00,N,UN,Units,2016
171125229,2,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171171556,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,3,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,4,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169031,2,21,NaN,59510,,,,,2016-02-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

In [57]:
#Screen for columns that only have one value
caesarian_df2['Copay_Amt'].nunique()

7

In [46]:
caesarian_df2.isnull().sum(axis = 0)

Claim_Line_No              0
Place_of_Service_Cd        0
Rev_Cd                  6248
CPT4_ID                    0
CPT4_Mod1_Cd               0
CPT4_Mod2_Cd               0
CPT4_Mod3_Cd               0
CPT4_Mod4_Cd               0
Service_Start_Dt           0
Units                      0
Charge_Amt                 0
Prepaid_Amt                0
Plan_Paid_Amt              0
NDC_Cd                     0
Capitation_Flag            0
ER_Flag                    0
Copay_Amt                  0
Coinsurance_Amt            0
Deductible_Amt             0
Dental_Flag                0
Unit_Of_Measure_Cd         0
Unit_Of_Measure_Desc       0
Service_Start_Year         0
dtype: int64

In [51]:
#Remove Columns that are redundant (i.e. descriptive of another column in the table) or contain only one value
edited_caesarian_df = caesarian_df2.drop(['Dental_Flag', 'Units', 'Rev_Cd', 'NDC_Cd', 'ER_Flag', 'Service_Start_Year', 'Unit_Of_Measure_Desc', 'Unit_Of_Measure_Cd'], axis=1)
edited_caesarian_df

,Claim_Line_No,Place_of_Service_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,,,,,
340993570,1,21,59510,,,,,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,1,21,59510,,,,,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,1,21,59510,UC,,,,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,1,21,59510,,,,,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,1,21,59510,,,,,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,2,21,59510,,,,,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,1,21,59510,,,,,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,2,21,59510,,,,,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,1,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,1,21,59510,,,,,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,2,21,59510,,,,,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,1,21,59510,,,,,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,2,21,59510,,,,,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,1,21,59510,,,,,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,2,21,59510,,,,,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,1,21,59510,,,,,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,2,21,59510,,,,,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,1,11,59510,,,,,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,2,11,59510,,,,,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,1,21,59510,,,,,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,1,21,59510,,,,,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,2,21,59510,,,,,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,1,21,59510,,,,,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,2,21,59510,,,,,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,1,21,59510,,,,,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,1,21,59510,22,,,,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,2,21,59510,22,,,,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,1,21,59510,UC,,,,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,1,21,59510,UC,,,,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,1,21,59510,,,,,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,59510,,,,,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,1,21,59510,22,,,,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,2,21,59510,22,,,,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,1,21,59510,,,,,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,2,21,59510,,,,,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,1,21,59510,,,,,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,1,21,59510,,,,,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,2,21,59510,,,,,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,1,21,59510,,,,,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,2,21,59510,,,,,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,1,21,59510,UC,,,,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,1,21,59510,,,,,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,2,21,59510,,,,,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,1,21,59510,,,,,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,2,21,59510,,,,,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,1,21,59510,,,,,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,1,21,59510,,,,,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,1,21,59510,,,,,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,1,21,59510,,,,,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,1,21,59510,,,,,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,2,21,59510,,,,,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,1,21,59510,,,,,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,1,21,59510,,,,,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,2,21,59510,,,,,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,1,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,1,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,2,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,3,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,4,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,2,21,59510,,,,,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

In [56]:
#There are few rows with CPT4 modifications. For the first model, drop them to simplify the process
simplified_CPT4_df = edited_caesarian_df.drop(['CPT4_Mod1_Cd', 'CPT4_Mod2_Cd', 'CPT4_Mod3_Cd', 'CPT4_Mod4_Cd'], axis=1)
simplified_CPT4_df

,Claim_Line_No,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,
340993570,1,21,59510,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,1,21,59510,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,1,21,59510,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,1,21,59510,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,1,21,59510,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,2,21,59510,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,1,21,59510,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,2,21,59510,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,1,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,1,21,59510,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,2,21,59510,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,1,21,59510,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,2,21,59510,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,1,21,59510,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,2,21,59510,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,1,21,59510,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,2,21,59510,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,1,11,59510,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,2,11,59510,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,1,21,59510,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,1,21,59510,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,2,21,59510,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,1,21,59510,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,2,21,59510,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,1,21,59510,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,1,21,59510,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,2,21,59510,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,1,21,59510,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,1,21,59510,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,1,21,59510,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,59510,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,1,21,59510,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,2,21,59510,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,1,21,59510,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,2,21,59510,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,1,21,59510,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,1,21,59510,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,2,21,59510,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,1,21,59510,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,2,21,59510,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,1,21,59510,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,1,21,59510,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,2,21,59510,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,1,21,59510,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,2,21,59510,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,1,21,59510,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,1,21,59510,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,1,21,59510,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,1,21,59510,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,1,21,59510,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,2,21,59510,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,1,21,59510,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,1,21,59510,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,2,21,59510,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,1,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,1,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,2,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,3,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,4,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,2,21,59510,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

Feature Engineering To Do List
* Turn Capitation Y/N values into 1/0
* Make Date of Service a Time Stamp
* Turn Place of Service into a Categorical Feature (1-6)
* Add a column to turn the following into binary whether it's a numeric value or 0 to be used as a feature in linear regression:
    * Coinsurance
    * Prepaid
    * Deductible
    * CoPay

Engineering and Featurization 
Transform all of the non-numeric data into numeric data;
*get dummies
*masking
*boolean
*?

First Shitty Model
Initial Exploration of Features

Tweakage of Model

Random Forest- Feature Importance/Decision Tree Evaluation

Quantile Regression- see Matt

Boosting-