In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
caesarian_df = pd.read_csv('caesarian_data.csv', index_col=[0])
caesarian_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
340993570,1,21,NaN,59510,,,,,2016-07-29,1,...,0,N,N,0.0,715.54,715.54,N,UN,Units,2016
350588632,1,21,NaN,59510,,,,,2016-06-27,1,...,0,N,N,0.0,641.99,0.00,N,UN,Units,2016
357047267,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
340423363,1,21,NaN,59510,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159994,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,295.52,0.00,N,UN,Units,2016
171159994,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159510,1,22,NaN,G0202,26,,,,2016-02-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159510,2,22,NaN,77052,26,,,,2016-02-03,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171175684,1,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,277.24,0.00,N,UN,Units,2016
171175684,2,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171157745,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171156293,1,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,436.80,0.00,N,UN,Units,2016
171156293,2,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184685,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,449.96,N,UN,Units,2016
171184685,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184622,1,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,352.48,0.00,N,UN,Units,2016
171184622,2,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171173970,1,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,147.76,0.00,N,UN,Units,2016
171173970,2,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171108933,1,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,249.52,0.00,N,UN,Units,2016
171108933,2,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340423574,1,21,NaN,59510,,,,,2016-02-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171056401,1,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171056401,2,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171102679,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171102679,2,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306678225,1,21,NaN,59510,,,,,2016-07-11,1,...,0,N,N,0.0,258.57,0.00,N,UN,Units,2016
171103095,1,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171103095,2,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357119550,1,21,NaN,59510,UC,,,,2016-07-01,1,...,0,Y,N,0.0,0.00,1502.27,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,NaN,59510,,,,,2016-03-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171213348,1,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,201.02,N,UN,Units,2016
171213348,2,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171269130,1,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,443.28,0.00,N,UN,Units,2016
171269130,2,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340422949,1,21,NaN,59510,,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202717,1,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,375.66,0.00,N,UN,Units,2016
171202717,2,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,1,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,2,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357042557,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,144.45,N,UN,Units,2016
171239156,1,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,149.52,500.00,N,UN,Units,2016
171239156,2,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,1,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,2,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171268246,1,21,NaN,59510,,,,,2016-03-06,1,...,0,N,N,0.0,0.00,2415.00,N,UN,Units,2016
171194895,1,21,NaN,59510,,,,,2016-02-09,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189417,1,21,NaN,59510,,,,,2016-02-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189367,1,21,NaN,59510,,,,,2016-02-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171188123,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,138.88,0.00,N,UN,Units,2016
171188123,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171125385,1,21,NaN,59510,,,,,2016-01-20,1,...,0,N,N,0.0,0.00,1547.39,N,UN,Units,2016
171125229,1,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,122.59,0.00,N,UN,Units,2016
171125229,2,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171171556,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,3,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,4,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169031,2,21,NaN,59510,,,,,2016-02-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

In [3]:
#create new dataframe without
caesarian_df2 = caesarian_df[caesarian_df['CPT4_ID'] == ('59510')]
caesarian_df2

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
340993570,1,21,NaN,59510,,,,,2016-07-29,1,...,0,N,N,0.0,715.54,715.54,N,UN,Units,2016
350588632,1,21,NaN,59510,,,,,2016-06-27,1,...,0,N,N,0.0,641.99,0.00,N,UN,Units,2016
357047267,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
340423363,1,21,NaN,59510,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159994,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,295.52,0.00,N,UN,Units,2016
171159994,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171175684,1,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,277.24,0.00,N,UN,Units,2016
171175684,2,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171157745,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171156293,1,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,436.80,0.00,N,UN,Units,2016
171156293,2,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184685,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,449.96,N,UN,Units,2016
171184685,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184622,1,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,352.48,0.00,N,UN,Units,2016
171184622,2,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171173970,1,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,147.76,0.00,N,UN,Units,2016
171173970,2,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171108933,1,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,249.52,0.00,N,UN,Units,2016
171108933,2,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340423574,1,21,NaN,59510,,,,,2016-02-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171056401,1,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171056401,2,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171102679,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171102679,2,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306678225,1,21,NaN,59510,,,,,2016-07-11,1,...,0,N,N,0.0,258.57,0.00,N,UN,Units,2016
171103095,1,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171103095,2,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357119550,1,21,NaN,59510,UC,,,,2016-07-01,1,...,0,Y,N,0.0,0.00,1502.27,N,UN,Units,2016
357119551,1,21,NaN,59510,UC,,,,2016-11-09,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
171082475,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,497.99,864.16,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,NaN,59510,,,,,2016-03-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171213348,1,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,201.02,N,UN,Units,2016
171213348,2,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171269130,1,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,443.28,0.00,N,UN,Units,2016
171269130,2,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340422949,1,21,NaN,59510,,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202717,1,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,375.66,0.00,N,UN,Units,2016
171202717,2,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,1,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,2,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357042557,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,144.45,N,UN,Units,2016
171239156,1,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,149.52,500.00,N,UN,Units,2016
171239156,2,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,1,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,2,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171268246,1,21,NaN,59510,,,,,2016-03-06,1,...,0,N,N,0.0,0.00,2415.00,N,UN,Units,2016
171194895,1,21,NaN,59510,,,,,2016-02-09,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189417,1,21,NaN,59510,,,,,2016-02-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189367,1,21,NaN,59510,,,,,2016-02-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171188123,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,138.88,0.00,N,UN,Units,2016
171188123,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171125385,1,21,NaN,59510,,,,,2016-01-20,1,...,0,N,N,0.0,0.00,1547.39,N,UN,Units,2016
171125229,1,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,122.59,0.00,N,UN,Units,2016
171125229,2,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171171556,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,3,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,4,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169031,2,21,NaN,59510,,,,,2016-02-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

In [4]:
#Screen for columns that only have one value
caesarian_df2['Claim_Line_No'].nunique()

7

In [5]:
caesarian_df2.isnull().sum(axis = 0)

Claim_Line_No              0
Place_of_Service_Cd        0
Rev_Cd                  6248
CPT4_ID                    0
CPT4_Mod1_Cd               0
CPT4_Mod2_Cd               0
CPT4_Mod3_Cd               0
CPT4_Mod4_Cd               0
Service_Start_Dt           0
Units                      0
Charge_Amt                 0
Prepaid_Amt                0
Plan_Paid_Amt              0
NDC_Cd                     0
Capitation_Flag            0
ER_Flag                    0
Copay_Amt                  0
Coinsurance_Amt            0
Deductible_Amt             0
Dental_Flag                0
Unit_Of_Measure_Cd         0
Unit_Of_Measure_Desc       0
Service_Start_Year         0
dtype: int64

In [7]:
#Remove Columns that are redundant (i.e. descriptive of another column in the table) or contain only one value
edited_caesarian_df = caesarian_df2.drop(['Dental_Flag', 'Units', 'Rev_Cd', 'NDC_Cd', 'ER_Flag', 'Service_Start_Year', 'Unit_Of_Measure_Desc', 'Unit_Of_Measure_Cd'], axis=1)
edited_caesarian_df

,Claim_Line_No,Place_of_Service_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,,,,,
340993570,1,21,59510,,,,,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,1,21,59510,,,,,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,1,21,59510,UC,,,,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,1,21,59510,,,,,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,1,21,59510,,,,,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,2,21,59510,,,,,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,1,21,59510,,,,,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,2,21,59510,,,,,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,1,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,1,21,59510,,,,,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,2,21,59510,,,,,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,1,21,59510,,,,,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,2,21,59510,,,,,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,1,21,59510,,,,,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,2,21,59510,,,,,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,1,21,59510,,,,,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,2,21,59510,,,,,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,1,11,59510,,,,,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,2,11,59510,,,,,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,1,21,59510,,,,,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,1,21,59510,,,,,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,2,21,59510,,,,,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,1,21,59510,,,,,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,2,21,59510,,,,,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,1,21,59510,,,,,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,1,21,59510,22,,,,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,2,21,59510,22,,,,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,1,21,59510,UC,,,,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,1,21,59510,UC,,,,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,1,21,59510,,,,,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,59510,,,,,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,1,21,59510,22,,,,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,2,21,59510,22,,,,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,1,21,59510,,,,,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,2,21,59510,,,,,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,1,21,59510,,,,,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,1,21,59510,,,,,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,2,21,59510,,,,,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,1,21,59510,,,,,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,2,21,59510,,,,,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,1,21,59510,UC,,,,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,1,21,59510,,,,,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,2,21,59510,,,,,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,1,21,59510,,,,,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,2,21,59510,,,,,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,1,21,59510,,,,,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,1,21,59510,,,,,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,1,21,59510,,,,,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,1,21,59510,,,,,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,1,21,59510,,,,,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,2,21,59510,,,,,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,1,21,59510,,,,,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,1,21,59510,,,,,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,2,21,59510,,,,,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,1,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,1,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,2,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,3,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,4,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,2,21,59510,,,,,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

In [8]:
#There are few rows with CPT4 modifications. For the first model, drop them to simplify the process
simplified_CPT4_df = edited_caesarian_df.drop(['CPT4_Mod1_Cd', 'CPT4_Mod2_Cd', 'CPT4_Mod3_Cd', 'CPT4_Mod4_Cd'], axis=1)
simplified_CPT4_df

,Claim_Line_No,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,
340993570,1,21,59510,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,1,21,59510,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,1,21,59510,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,1,21,59510,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,1,21,59510,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,2,21,59510,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,1,21,59510,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,2,21,59510,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,1,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,1,21,59510,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,2,21,59510,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,1,21,59510,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,2,21,59510,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,1,21,59510,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,2,21,59510,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,1,21,59510,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,2,21,59510,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,1,11,59510,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,2,11,59510,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,1,21,59510,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,1,21,59510,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,2,21,59510,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,1,21,59510,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,2,21,59510,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,1,21,59510,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,1,21,59510,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,2,21,59510,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,1,21,59510,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,1,21,59510,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,1,21,59510,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,59510,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,1,21,59510,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,2,21,59510,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,1,21,59510,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,2,21,59510,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,1,21,59510,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,1,21,59510,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,2,21,59510,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,1,21,59510,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,2,21,59510,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,1,21,59510,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,1,21,59510,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,2,21,59510,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,1,21,59510,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,2,21,59510,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,1,21,59510,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,1,21,59510,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,1,21,59510,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,1,21,59510,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,1,21,59510,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,2,21,59510,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,1,21,59510,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,1,21,59510,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,2,21,59510,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,1,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,1,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,2,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,3,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,4,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,2,21,59510,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

Feature Engineering To Do List

Turn Capitation Y/N values into 1/0*
Make Date of Service a Time Stamp-> categorize as a weekend or not*
Turn Place of Service into a Categorical Feature (1-6)
Add a column to turn the following into binary whether it's a numeric value or 0 to be used as a feature in linear regression:
Coinsurance*
Prepaid*
Deductible*
CoPay*